/* GENERAL ELEMENTS */
html {
    /* background-image: conic-gradient(from 36deg at 70% 25%, #A100FFFF 0% 25%, #000000 25% 30%, #119CFDFF 30% 50%); */
    background-image: conic-gradient(from 36deg at 30% 40%, #ffc09f 0% 15%, #ffee93 25% 47%, #adf7b6 60% 100%); 
}
html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    align-content: stretch;
    height: 100%;
}
header {
    /* background-color: #a7bed3; */
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 3%;
    padding-bottom: 3px;
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    flex-grow: 1;
}
main {
    max-width: 75%;
    justify-content: center;
    flex-grow: 5;
}

/* SUBMISSION FORM */
input {
    padding: .25em;
    width: 125px;
    border: 1px solid;
    border-radius: 5px;
    margin: 1px;
}
#submitButton {
    padding: .25em;
    width: 13%;
    border: 1px solid;
    border-radius: 5px;
}

/* TABLE */
h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
}
th {
    text-align: center;
    background-color: #b2aeae;
}
table, th, td {
    border: 1px solid;
}
tr:nth-child(odd) {
    background-color: #f0eaea;
}
tr:nth-child(even) {
    background-color: #d1cece;
}
#tableSalary {
    text-align: right;
}
#deleteButtons {
    text-align: center;
}

/* FOOTER */
#totalCost {
    background-color: white;
    text-align: right;
    align-self: right;
    width: auto;
}
h3 {
    margin-top: 0%;
    border: 1px solid;
    border-collapse: collapse;
}

footer {
    font-family:;
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: larger;
    /* background-image: conic; */
    margin-right: 45%;
    margin-bottom: 5%;
    transform: rotate(15deg)
}
h5 {
    margin-top: -30px;
    margin-bottom: -2px;
}